/* 
---------FONTS------------
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
*/


/* -------------------- GENERAL FORMATTING---------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    background-color: #FAFAFA;
    max-width: 1024px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}

h2, h3, p {
    text-align: center;
}

img {
    display:block;
    margin: auto;
    width: 18em;
}

ul {
    list-style: none;
    padding-left: 0;

}
hr {
    opacity: 25%;
}

section h2 {
    padding: 30px;
}

/* ------------------NAVBAR TOP AND BOTTOM---------------------- */

h1 {
    color: white;
}

header nav {
        background-color: #818D92;
}

header h1 {
    margin-top: 15px;
}

nav {
    letter-spacing: .25em;
    padding: 25px;
}

a {
    text-decoration: none;
    font-weight: 700;
}

a:visited{
    color:white;
}

h1, .top-nav {
    text-align: center;
}

.top-nav, .top-nav li {
    width: 100%;
}
.top-nav {
     margin-top: 30px;
}

.top-nav li {
    padding: 10px 0;
    margin: 5px auto;
}
.top-nav li, .footer-nav li {
    background-color: transparent;
    color: white;
}
/* --------------------INTRO SECTION---------------------- */
.intro-p {
    padding: 20px;
}

#profile-img {
    width: 13em;
}

/* -------------------PORTFOLIO SECTION--------------------- */

#Portfolio {
    background-color: white;
}
.portfolio-wrap {
    margin: auto;
}
.portfolio-wrap h3 {
padding: 1em 0 .5em 0;
}
.portfolio {
    padding: 10px 0;
}

/* --------------------CONTACT SECTION---------------------- */

#Contact {
    padding: 1em;
    text-align: center
}

/* ---------------------SKILLS SECTION---------------------- */

.skills-wrap {
    display: flex;
    justify-content: space-evenly;
}

.card {
    text-align: center;
}


/* ---------------------FOOTER SECTION---------------------- */


footer {
            background-color: #818D92;
}

footer nav {
      display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding: 0 20px;
  height: 100px;
  flex-wrap: nowrap;
  font-size: .5em;
}

.full {
  display: none;
}

/* ---------------------MEDIA QUERIES----------------------- */

@media screen and (min-width: 768px) {

    /* --------------GENERAL FORMATTING----------------- */
    li {
        background-color: #FAFAFA;
    }
    /* --------------NAVBAR TOP AND BOTTOM----------------  */
    header nav {
        display: block;
        text-align: center;
    }
    
    nav {
        border-radius: .25em;
    }
    header h1 {
        display: inline-block;
    }
    .top-nav {
        margin: auto;
  }

   .top-nav li {
        display: inline-block;
        width: auto;
        margin-right: 15px;
  }

  .top-nav li:last-child, .footer-nav li:last-child {
        margin-right: 0;
  }

  .top {
        /* display: none; */
  }
  footer nav {
    font-size: .8em;
  }
  .full {
        margin-left: 20px;

  }
    /* ---------------INTRO/HOME SECTION------------------ */
    .home {
        display: flex;
        flex-direction: row;
        font-size: 1.25em;
    }
    #profile-img {
        order: 2;
        width: auto;
    }
    .intro-p {
        order: 1;
    }
    /* -----------------PORTFOLIO SECTION--------------- */
    .portfolio-wrap {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .portfolio {
        text-align: center;
        max-width: 300px;
    }
}

@media screen and (min-width: 1024px) {
  nav {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: nowrap;
  }
  .top {
    display: none;
  }
  footer {
    font-size: .75em;
  }
  .full {
    display: inline-block;
  }
  .footer-nav {
    margin-left: 30em;
  }
  }
